﻿@page
@model TP2.Calculator
@{
    double amount = 0;
    double interestRate = 0;
    int durationInMonths = 0;
    double monthlyPayment = 0;
}

<div class="text-center">
    <div>
        <h1>Loan Calculator</h1>
        <form>
            <input type="number" class="form-control" id="amount" name="amount">

            <p>Interest rate:</p>
            <input type="number" class="form-control" id="interestRate" name="interestRate">

            <p>Duration in months:</p>
            <input type="number" class="form-control" id="durationInMonths" name="durationInMonths">

            <br />
            <br />
            <p>Insurance:</p>
            <label><input type="checkbox" id="isAthlete" name="isAthlete"> Athlete</label><br>
            <label><input type="checkbox" id="isSmoker" name="isSmoker"> Smoker</label><br>
            <label><input type="checkbox" id="hasHeartProblems" name="hasHeartProblems"> Heart problems</label><br>
            <label><input type="checkbox" id="isComputerEngineer" name="isComputerEngineer">Computer Engineer</label><br>
            <label><input type="checkbox" id="isFighterPilot" name="isFighterPilot">Fighter Pilot</label><br>

            <button type="button" onclick="calculate()">Calculate</button>
        </form>

        <p id="result"></p>

        <script>function calculate() {
                var amount = parseFloat(document.getElementsByName("amount")[0].value);
                var interestRate = parseFloat(document.getElementsByName("interestRate")[0].value);
                var durationInMonths = parseInt(document.getElementsByName("durationInMonths")[0].value);

                var isAthlete = document.getElementById("isAthlete").checked;
                var isSmoker = document.getElementById("isSmoker").checked;
                var hasHeartProblems = document.getElementById("hasHeartProblems").checked;
                var isComputerEngineer = document.getElementById("isComputerEngineer").checked;
                var isFighterPilot = document.getElementById("isFighterPilot").checked;

                var insuranceRate = 0.03;
                if (isAthlete) {
                    insuranceRate -= 0.0050;
                }
                if (isSmoker) {
                    insuranceRate += 0.015;
                }
                if (hasHeartProblems) {
                    insuranceRate += 0.03;
                }
                if (isComputerEngineer) {
                    insuranceRate -= 0.0050;
                }
                if (isFighterPilot) {
                    insuranceRate += 0.015;
                }

                var monthlyInterestRate = interestRate / 12;
                var powerFactor = Math.pow(1 + monthlyInterestRate, -durationInMonths);

                var monthlyPayment = (amount * monthlyInterestRate) / (1 - powerFactor);
                var totalPayment = monthlyPayment * durationInMonths;

                var insurancePayment = amount * insuranceRate / 12;

                var totalInterest = totalPayment - amount;

                var totalInsurance = insurancePayment * durationInMonths;

                var remainingCapital = amount * Math.pow((1 + monthlyInterestRate), durationInMonths / 12 * 10);

                document.getElementById("result").innerHTML = "Monthly payment: " + monthlyPayment.toFixed(2) +
                    "<br>Total payment: " + totalPayment.toFixed(2) +
                    "<br>Monthly insurance: " + insurancePayment.toFixed(2) +
                    "<br>Total interest: " + totalInterest.toFixed(2) +
                    "<br>Total insurance: " + totalInsurance.toFixed(2) +
                    "<br>Remaining capital after 10 years: " + remainingCapital.toFixed(2);
            }</script>
    </div>
</div>

